SUPABASE_URL=
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4amNicmtscWFmd3RzZXptb2x0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExNjQyNzUsImV4cCI6MjEwNjc0MDI3NX0.76Utq500l_Zu7v8NG7E_YXBKHeBLXGHt9-fzx96PGzg
PORT=3001